@keyframes knight-background-position {
    from {
        background-position: 0px;
    }

    to {
        background-position: -4200px;
    }
}

#knight {
    transform-origin: top left;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-250px) translateX(100px);
    z-index: 1;
}

#knight>div {
    display: none;
    width: 168px;
    height: 225px;
    animation-name: knight-background-position;
    animation-timing-function: steps(25);
    animation-iteration-count: infinite;
}

#knightIdle {
    background: url('../Character/Knight/knight_idle.png');
}

#knightWalk {
    background: url('../Character/Knight/knight_walk.png');
}

#knightAttack {
    background: url('../Character/Knight/knight_attack.png');
}

#knightDamaged {
    background: url('../Character/Knight/knight_damaged.png');
}

#knight[data-animate="idle"]>#knightIdle {
    display: block;
}

#knight[data-animate="walk"]>#knightWalk {
    display: block;
}

#knight[data-animate="walkBack"]>#knightWalk {
    display: block;
}

#knight[data-animate="attack"]>#knightAttack {
    display: block;
}

#knight[data-animate="damaged"]>#knightDamaged {
    display: block;
}

@keyframes slime-background-position {
    from {
        background-position: 0px;
    }

    to {
        background-position: -2800px;
    }
}

#slime {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-250px) translateX(-150px) scaleX(-1);
}

#slime>div {
    display: none;
    width: 112px;
    height: 102px;
    animation-name: slime-background-position;
    animation-timing-function: steps(25);
    animation-iteration-count: infinite;
}

#slime[data-animate="idle"]>#slimeIdle {
    display: block;
}

#slime[data-animate="walk"]>#slimeWalk {
    display: block;
}

#slime[data-animate="attack"]>#slimeAttack {
    display: block;
}

#slime[data-animate="damaged"]>#slimeDamaged {
    display: block;
}

#slimeIdle {
    background: url('../Character/Slime/slime_idle.png');
}

#slimeWalk {
    background: url('../Character/Slime/slime_walk.png');
}

#slimeAttack {
    background: url('../Character/Slime/slime_attack.png');
}

#slimeDamaged {
    background: url('../Character/Slime/slime_damaged.png');
}